section{
    margin-top: 10%;
}

div#mostraJogador{
    margin-left:43%;
    margin-right: 10px;
    margin-top: 50px;
    width: 252px;
}

p#mostrador{
    float: left;
}

div#tabuleiro{
    margin:auto;
    width: 312px;
    margin-top: 20px;
}

div.espaço{
    width: 100px;
    height: 85px;
    border: 2px solid #000;
    float: left;
    text-align: center;
    padding-top: 15px;
}